@import url(./font/news-706/news-706.css);
@import url(./font/pf-din/pf-din.css);

// SITE COLORS
$darkblue: #358DF2;
$lightblue: #E4F1FE;
$red: #E51B24;
$yellow: #FFD800;
$darkgrey: #222222;
$medgrey: #585858;
$lightgrey: #F6F6F6;
$grey: #ececec;
$white: #FFFFFF;
$black: #000000;
$cyan: #34DADF;
$light-green: #6ae4d6;
$pink: #ffa5b9;

h1 {
	font-family: 'Pf Din', Impact, sans-serif;
	text-transform: uppercase;
	font-size: 160px;
	line-height: 1;
}

h2 {
	font-family: 'Pf Din', Impact, sans-serif;
	letter-spacing: -0.50px;
}

p, h3, h4, h5, th, li, table, a {
	font-family: 'News 706', sans-serif;
	letter-spacing: 0.50px;
}

p, li {
	font-size: 2rem;
}

h2 {
	text-align: center;
}

a {
	color: #358DF2;
	font-weight: 700;
}

a:hover {
	text-decoration: none;
}

hr {
	border-top: 1px solid black;
}

code {
	font-family: monaco, Consolas, "Lucida Console", monospace;
}

strong, em {
	font-weight: bold;
}

em {
	color: $red;
}

ol {
	list-style: decimal outside none;
}

i {
	font-size: 3rem;
}

.slides {
    .slide {
		// COLOR
		.color-dark-blue {
			color: $darkblue;
		}
		.color-light-blue {
			color: $cyan;
		}
		.color-white {
			color: $white;
		}
		.color-red {
			color: $red;
		}

		.background-yellow {
			background-color: yellow;
		}
		.background-light-green {
			background-color: $light-green;
		}
		.background-pink {
			background-color: $pink;
		}


		// FONT
		.text-transform-uppercase {
			text-transform: uppercase;

		}
		.bold {
			font-weight: bold;
		}

	}
}