.slides {
    .slide__image {
        width: 30rem;

        // Assets modifiers
        &--pug, &--cat {
            position: absolute;
        }
        &--pug {
            left: 2rem;
            top: 2rem;
        }
        &--cat {
            right: 6rem;
            top: 8rem;
        }
        &--homepage, &--request-response {
            width: 80%;
        }
        &--website {
            margin-top: -5rem;
        }
        &--web {
            margin-top: -2rem;
        }
        &--exercise {
            height: 100%;
            margin-top: 4rem;
            margin: 4rem 6rem 0 3rem
        }
        &--itv {
            right: 0;
        }
        &--command-line {
            margin-left: 0.5rem;
            height: 100%
        }
        &--cli {
            margin-top: 1rem;
        }
        &--iceburg-abstraction, &--iceburg-abstraction-highlight {
            width: 23rem;
            &:not(.current-fragment) {
                display: none;
            }
        }
        &--coronation-street {
            position: absolute;
            right: 2rem;
            top: 20rem;
        }
    }
}