.slides {
    .slide__image {
        // Utils
        width: 30rem;
        &.width-5 {
            width: 5rem;
        }
        &.width-10 {
            width: 10rem;
        }
        &.width-15 {
            width: 15rem;
        }
        &.width-20 {
            width: 20rem;
        }
        &.width-25 {
            width: 25rem;
        }
        &.width-30 {
            width: 30rem;
        }
        &.width-35 {
            width: 35rem;
        }
        &.width-40 {
            width: 40rem;
        }
        &.width-50 {
            width: 50rem;
        }
        &.width-100-p {
            width: 100%;
        }
        &.height-100-p {
            height: 100%;
        }

        &.margin-left-2 {
            margin-left: 2rem;
        }
        &.margin-right-2 {
            margin-right: 2rem;
        }
        &.margin-left-5 {
            margin-left: 5rem;
        }
        &.margin-right-5 {
            margin-right: 5rem;
        }
        &.margin-left-10 {
            margin-left: 10rem;
        }
        &.margin-right-10 {
            margin-right: 10rem;
        }

        // Assets modifiers
        &--pug, &--cat {
            position: absolute;
        }
        &--pug {
            left: 2rem;
            top: 2rem;
        }
        &--cat {
            right: 6rem;
            top: 8rem;
        }
        &--gallery, &--javascript-fe-be, &--request-response, &--dns {
            width: 100%;
        }
        &--homepage, &--request-response {
            width: 80%;
        }
        &--website {
            margin-top: -5rem;
        }
        &--javascript {
            margin-left: 5rem;
        }
        &--web {
            margin-top: -2rem;
        }
        &--exercise {
            height: 100%;
            margin-top: 4rem;
            margin: 4rem 6rem 0 3rem
        }
        &--terminal {
            margin-right: 3rem;
        }
        &--visual-studio {
            margin-top: 3rem;
        }
        &--itv {
            right: 0;
        }
        &--command-line {
            margin-left: 0.5rem;
            height: 100%
        }
        &--cli {
            margin-top: 1rem;
        }
        &--iceburg-abstraction, &--iceburg-abstraction-highlight {
            width: 23rem;
            &:not(.current-fragment) {
                display: none;
            }
        }
    }
}