.slides {
    .slide {
        height: 100%;

        // CONTAINER
        &__container {
            &-absolute {
                position: absolute;
                &--border-red {
                    border: 3px solid red;
                    bottom: 0;
                }
                &.bottom-0 {
                    bottom: 0;
                }
                &.bottom-2 {
                    bottom: 2rem;
                }
                &.bottom-5 {
                    bottom: 5rem;
                }
                &.bottom-10 {
                    bottom: 10rem;
                }
                &.center {
                    left: 50%;
                    transform: translate(-50%);
                }
            }
            &-center {
                text-align: center;
            }
            &-vertical-center {
                vertical-align: middle;
            }
            &-flex {
                display: flex;
                justify-content: space-evenly;
                &.start {
                    justify-content: flex-start;
                }
                &.end {
                    justify-content: flex-end;
                }
                &.items-end {
                    align-items: flex-end;
                }
                &.space-between {
                    justify-content: space-between;
                }
                &.center {
                    justify-content: center;
                }
                .flex-basis-quarter {
                    flex-basis: 25%;
                }
                .flex-basis-half {
                    flex-basis: 50%;
                }
                .flex-basis-third {
                    flex-basis: 33.333%;
                }
                .align-items-baseline {
                    align-items: baseline;
                }
                .align-items-center {
                    align-items: center;
                }
                &.height-100-p {
                    height: 100%;
                }
                &.height-80-vh {
                    height: 80vh;
                }
            }
            &-relative {
                position: relative;
                &.width-30 {
                    width: 30rem;
                }
            }
        }

        // HEADER
        &__header-intro, &__header {
            height: 2.5rem;
            line-height: 2.5rem;
            text-align: left;
            display: flex;
            &--title {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.5rem;
            }
            &--title, &--logo {
                display: inline-block;
            }
        }
        &__header-intro {
            border-top: 2px solid $white;
            border-bottom: 2px solid $white;
            &--title {
                color: $white;
            }
        }
        &__header {
            border-top: 2px solid $black;
            border-bottom: 2px solid $black;
            &--title {
                color: $black;
            }
        }

        // CONTENT
        &__content {
            margin: 1rem 0;
            text-align: left;

            &__link {
                font-style: italic;
                font-size: 1.4rem;
            }
        }

        // TABLES
        &__table {
            th {
                text-transform: uppercase;
                &.medium-font {
                    font-size: 1.3rem;
                }
                &.large-font {
                    font-size: 2rem;
                }
            }
            td {
                &.col-15-p {
                    width: 15%;
                }
                &.col-25-p {
                    width: 25%;
                }
                &.col-30-p {
                    width: 30%;
                }
                &.col-50-p {
                    width: 50%;
                }
                &.col-75-p {
                    width: 75%;
                }
            }

            .slide__head {
                &--declaration-comparison, &--syllabus {
                    tr {
                        background-color: $black;
                    }
                    th {
                        border: 0.2rem solid $white;
                        padding: 0.6rem;
                    }
                }
                &--jquery, &--javascript {
                    th {
                        border: 0.2rem solid $white;
                        padding: 0.6rem;
                    }
                }
                &--jquery {
                    tr {
                        background-color: $light-green;
                    }
                }
                &--javascript {
                    tr {
                        background-color: $darkblue;
                    }
                }
                &--jquery-selectors, &--jquery-traversal {
                    th {
                        border: 0.2rem solid $white;
                        padding: 0.5rem 1rem;
                    }
                }
                &--jquery-selectors {
                    th:nth-child(n+2):nth-child(-n+3) {
                        background-color: $lightyellow;
                    }
                }
                &--jquery-traversal {
                    th {
                        background-color: $lightyellow;
                    }
                }
            }

            .slide__body {
                tr:nth-child(odd) {
                    background-color: $lightgrey;
                }
                td {
                    border-top: 0.2rem solid white;
                    border-bottom: 0.2rem solid white;
                    padding: 0.3rem 0.2rem;
                }
                &--jquery-selectors, &--jquery-traversal {
                    tr {
                        background-color: $yellow;
                    }
                    tr:nth-child(odd) {
                        background-color: $yellow;
                    }
                    td {
                        border: 0.2rem solid $white;
                        padding: 0.8rem 1rem;
                    }
                }
                &--jquery-selectors {
                    td:nth-child(1) {
                        background-color: $lightyellow;
                    }
                }

                &--node {
                    tr:nth-child(odd) {
                        background-color: $lightgrey;
                    }
                    tr:nth-child(even) {
                        background-color: $lightblue;
                    }
                    tr {
                        height: 6rem;
                    }
                    td {
                        padding-left: 0.5rem;
                        border: 0.2rem solid white;
                    }
                }
                &--logical-operators, &--declaration-comparison, &--syllabus  {
                    td {
                        border: 0.2rem solid $white;
                        padding: 0.6rem;
                    }
                }
                &--declaration-comparison {
                    &--hoisting {
                        tr {
                            td:last-of-type {
                                background-color: $darkblue;
                            }
                        }
                    }
                }
            }
        }


        // CODE BLOCKS
        &__pre {
            &--border-red {
                border: 5px solid red;
            }
            &--border-green {
                border: 5px solid green;
            }
        }

        &__code {
            &--light-blue {
                color: $cyan;
            }
            &--dark-blue {
                color: $darkblue;
            }
            &--white{
                span {
                    color: $white;
                }
            }
            &--middle {
                margin: auto 0;
            }
            &.xxsmall {
                font-size: 0.8rem;
            }
            &.xsmall {
                font-size: 1rem;
            }
            &.small {
                font-size: 1.2rem;
            }
            &.medium {
                font-size: 1.8rem;
            }
            &.large {
                font-size: 2.2rem;
            }
            &.inline {
                display: inline-block;
            }
            &.width-30 {
                width: 30rem;
            }
            &.width-40 {
                width: 40rem;
            }
            &.margin-right-2 {
                margin-right: 2rem;
            }
            &.margin-right-5 {
                margin-right: 5rem;
            }
            &.height-100-p {
                height: 100%;
            }
            &.text-align-center {
                text-align: center;
            }
            &.bold {
                font-weight: bold;
            }
        }


        &__title {
            text-align: left;
            text-transform: uppercase;
            font-size: 4rem;
            &--white {
                color: $white;
            }
            &--black {
                color: $black;
            }
            &.lowercase {
                text-transform: unset;
            }
        }
        &__name {
            color: $black;
            font-family: 'News 706';
            font-size: 1.5rem;
            text-transform: uppercase;
            &.white {
                color: $white;
            }
        }

        &__text {
            &.white {
                color: $white;
            }
            &.red {
                color: $red;
            }
            &--table {
                font-size: 1.2rem;
            }
            &--small {
                font-size: 1.2rem;
            }
            &--medium {
                font-size: 1.8rem;
            }
            &--large {
                font-size: 2.2rem;
            }
            &--xlarge {
                font-size: 2.8rem;
            }
            &.bold {
                font-weight: bold;
            }
            &.italic {
                font-style: italic;
            }
            &.center {
                text-align: center;
            }
            &.uppercase {
                text-transform: uppercase;
            }
        }

        &__main-text {
            font-size: 6rem;
            &.blue {
                color: $darkblue;
            }
        }

        // EXERCISES
        &-timing {
            width: 3rem;
            &__header {
                text-transform: uppercase;
                font-style: italic;
                font-size: 1.1rem;
                text-align: left;
            }
        }

        &__background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background-position: top;
            background-size: 100%;
            background-repeat: no-repeat;
        }

        &__exercise {
            &__header {
                font-size: 1.2rem;
                text-transform: uppercase;
                font-family: 'Pf Din', Impact, sans-serif;
                &:after {
                    content: "";
                    display: block;
                    width: 50%;
                    border-bottom: 1px solid black;
                }
                &:not(:first-child) {
                    padding-top: 2rem;
                }
                &__list {
                    padding-left: 2rem;
                    li {
                        font-size: 1.2rem;
                        &:before {
                            border-width: 0.3rem 0 0.3rem 0.3rem;
                        }
                    }
                }
            }
        }

        &__thoughts {
            position: relative;
            flex-basis: 60%;
        }

        // LISTS
        &__list {
            &-item {
                &--xsmall {
                    font-size: 1.2rem;
                    &:before {
                        border-width: 0.3rem 0 0.3rem 0.3rem;
                    }
                }
                &--small {
                    font-size: 1.5rem;
                    &:before {
                        border-width: 0.4rem 0 0.4rem 0.4rem;
                    }
                }
                &--medium {
                    font-size: 1.9rem;
                    &:before {
                        border-width: 0.5rem 0 0.5rem 0.5rem;
                    }
                }
                &.no-arrow {
                    padding-left: 0;
                    &:before {
                        display: none;
                    }
                }
                &.bullet {
                    &:before {
                        display: none;
                    }
                    padding-left: 0;
                    list-style-type: disc;
                }
                &.center {
                    text-align: center;
                }
                &--flex {
                    display: flex;
                }
            }
        }

        &__highlight {
            padding: 0 0.1rem;
        }
    }
}