.slides {
    .slide {
        // Sizes
        width: 30rem;
        .width-5 {
            width: 5rem;
        }
        .width-10 {
            width: 10rem;
        }
        .width-12 {
            width: 12rem;
        }
        .width-15 {
            width: 15rem;
        }
        .width-20 {
            width: 20rem;
        }
        .width-25 {
            width: 25rem;
        }
        .width-30 {
            width: 30rem;
        }
        .width-35 {
            width: 35rem;
        }
        .width-40 {
            width: 40rem;
        }
        .width-45 {
            width: 45rem;
        }
        .width-50 {
            width: 50rem;
        }

        .width-50-p {
            width: 50%;
        }
        .width-30-p {
            width: 30%;
        }
        .width-100-p {
            width: 100%;
        }
        .height-100-p {
            height: 100%;
        }

        // Positioning
        .margin-middle {
            margin: 0 auto;
        }
        .margin-left-1 {
            margin-left: 1rem;
        }
        .margin-left-2 {
            margin-left: 2rem;
        }
        .margin-left-3 {
            margin-left: 3rem;
        }
        .margin-left-5 {
            margin-left: 5rem;
        }
        .margin-left-10 {
            margin-left: 10rem;
        }

        .margin-right-1 {
            margin-right: 1rem;
        }
        .margin-right-2 {
            margin-right: 2rem;
        }
        .margin-right-3 {
            margin-right: 3rem;
        }
        .margin-right-5 {
            margin-right: 5rem;
        }
        .margin-right-10 {
            margin-right: 10rem;
        }

        .margin-top-1 {
            margin-top: 1rem;
        }
        .margin-top-2 {
            margin-top: 2rem;
        }
        .margin-top-3 {
            margin-top: 3rem;
        }
        .margin-top-4 {
            margin-top: 4rem;
        }
        .margin-top-10 {
            margin-top: 10rem;
        }

        .margin-bottom-1 {
            margin-bottom: 1rem;
        }
        .margin-bottom-2 {
            margin-bottom: 2rem;
        }
        .margin-bottom-3 {
            margin-bottom: 3rem;
        }

        // Padding
        .padding-top-1 {
            padding-top: 1rem;
        }
        .padding-bottom-1 {
            padding-bottom: 1rem;
        }

        .padding-left-1 {
            padding-left: 1rem;
        }
        .padding-left-2 {
            padding-left: 2rem;
        }
        .padding-left-3 {
            padding-left: 3rem;
        }
        .padding-right-1 {
            padding-right: 1rem;
        }



        // Text

        .text-align-center {
            text-align: center;
        }

    }
}