.slides {
    .slide {
        // Sizes
        width: 30rem;
        .width-5 {
            width: 5rem;
        }
        .width-10 {
            width: 10rem;
        }
        .width-12 {
            width: 12rem;
        }
        .width-15 {
            width: 15rem;
        }
        .width-20 {
            width: 20rem;
        }
        .width-25 {
            width: 25rem;
        }
        .width-30 {
            width: 30rem;
        }
        .width-35 {
            width: 35rem;
        }
        .width-40 {
            width: 40rem;
        }
        .width-50 {
            width: 50rem;
        }
        .width-100-p {
            width: 100%;
        }
        .height-100-p {
            height: 100%;
        }

        // Positioning
        .margin-left-2 {
            margin-left: 2rem;
        }

        .margin-left-3 {
            margin-left: 3rem;
        }
        .margin-left-5 {
            margin-left: 5rem;
        }
        .margin-left-10 {
            margin-left: 10rem;
        }

        .margin-right-2 {
            margin-right: 2rem;
        }
        .margin-right-3 {
            margin-right: 3rem;
        }
        .margin-right-5 {
            margin-right: 5rem;
        }
        .margin-right-10 {
            margin-right: 10rem;
        }

        .margin-top-1 {
            margin-top: 1rem;
        }
        .margin-top-2 {
            margin-top: 2rem;
        }
        .margin-top-3 {
            margin-top: 3rem;
        }

    }
}